div.hanoi {
    position: relative;
    width: 100%;
}
    div.hanoi>div.korong { /* korong */
        position: absolute;
        z-index: 1;
        border: 0.1em solid black;
        border-radius: 1em/1.5em;
        -webkit-transition: all ease-in-out 0.48s;
        -moz-transition: all ease-in-out 0.48s;
        -o-transition: all ease-in-out 0.48s;
    }
    div.hanoi>div.oszlop {
       position: absolute;
       bottom: 0;
       top: 2em;
       background: #840;
       border: 0.1em solid black;
       border-bottom: none;
    }
    div.hanoialja {
       background: #840;
       border: 0.1em solid black;
       height: 1em;
       margin: 0em 1em;
       margin-bottom: 0.5em;
    }
